.miniimagewrapper {
background-image: url("https://assets.website-files.com/6221c5775380cd90d164afdb/64c3aea72e68f265c7cfee6d_47e118d75835f01e3d13e5.webp");
background-position: 50%;
background-repeat: no-repeat;
background-size: cover;
}
