@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  @apply bg-mercury;
  min-width: 320px; /* This sets the minimum width of the viewport */
  overflow-x: hidden; /* Prevents horizontal scroll */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  h4 {
    color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.1em;
  }
}